services:
  app:
    container_name: universe-app
    restart: always
    env_file:
      - path: ./.env
        required: true
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "4000:3000"
    networks:
      - app-network
    depends_on:
      - postgres
      - garage

  postgres:
    image: postgres
    container_name: postgres
    restart: always
    env_file:
      - path: ./.env
        required: true
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql
    networks:
      - app-network

  garage:
    container_name: garage
    image: dxflrs/garage:v2.1.0
    ports:
      - "3900:3900"
    networks:
      - app-network
    restart: unless-stopped
    volumes:
      - ./garage/garage.toml:/etc/garage.toml
      - ./garage/meta:/var/lib/garage/meta
      - ./garage/data:/var/lib/garage/data

volumes:
  mongo-data:
  pgdata:

networks:
  app-network:
    driver: bridge
