@import "tailwindcss";
@import "tw-animate-css";
@import "maplibre-gl/dist/maplibre-gl.css";
@plugin "@tailwindcss/typography";

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-sidebar-ring: var(--sidebar-ring);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar: var(--sidebar);
    --color-chart-5: var(--chart-5);
    --color-chart-4: var(--chart-4);
    --color-chart-3: var(--chart-3);
    --color-chart-2: var(--chart-2);
    --color-chart-1: var(--chart-1);
    --color-ring: var(--ring);
    --color-accent-blue: var(--accent-blue);
    --color-accent-blue-foreground: var(--accent-blue-foreground);
    --color-input: var(--input);
    --color-border: var(--border);
    --color-destructive: var(--destructive);
    --color-selected-foreground: var(--selected-foreground);
    --color-selected: var(--selected);
    --color-accent-foreground: var(--accent-foreground);
    --color-accent: var(--accent);
    --color-muted-foreground: var(--muted-foreground);
    --color-muted: var(--muted);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-secondary: var(--secondary);
    --color-primary-foreground: var(--primary-foreground);
    --color-primary: var(--primary);
    --color-popover-foreground: var(--popover-foreground);
    --color-popover: var(--popover);
    --color-card-foreground: var(--card-foreground);
    --color-card: var(--card);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
}

/* default shadcn theme */
:root {
    --radius: 0.625rem;
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --selected: oklch(0.98 0 0);
    --selected-foreground: oklch(0.205 0 0);
    --accent: oklch(0.94 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.708 0 0);
    --accent-blue: oklch(93.2% 0.032 255.585); /* #dbeafe */
    --accent-blue-foreground: oklch(41.972% 0.18595 264.831); /* #1c398e */
    --chart-1: oklch(11.613% 0.00442 70.586);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.94 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.708 0 0);
}

/* default shadcn dark theme */
.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.205 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.205 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.922 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --selected: oklch(0.269 0 0);
    --selected-foreground: oklch(0.985 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.704 0.191 22.216);
    --border: oklch(1 0 0 / 10%);
    --input: oklch(1 0 0 / 15%);
    --ring: oklch(0.556 0 0);
    --accent-blue: oklch(0.269 0 0) /* #dbeafe */;
    --accent-blue-foreground: oklch(88.2% 0.059 254.128);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.488 0.243 264.376);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(1 0 0 / 10%);
    --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }

    a {
        @apply cursor-pointer;
    }
}

@utility link-external {
    @apply hover:text-accent-blue-foreground hover:after:content-['_↗︎'] transition-all duration-100;
}

@utility link-internal {
    @apply hover:text-accent-blue-foreground hover:after:content-['_→'] transition-all duration-100;
}

@utility form-box-title {
    @apply scroll-m-20 pb-2 text-2xl font-semibold tracking-tight mb-1;
}

@utility form-box-description {
    @apply prose-small text-muted-foreground mb-6;
}

@utility form-bounding-box {
    @apply max-w-2xl w-full;
}

@utility form-button-group {
    @apply flex flex-col md:flex-row md:flex-wrap gap-2 pt-6;
}

@utility form-box {
    @apply bg-transparent md:bg-card px-0 py-5 md:px-7 md:py-7 rounded-lg border-0 md:border-1 w-full max-w-6xl flex flex-col items-start;
}

@utility prose-h1 {
    @apply scroll-m-20 text-left text-4xl font-extrabold tracking-tight text-balance mb-4;
}

@utility prose-h2 {
    @apply scroll-m-20 pb-2 text-2xl font-semibold tracking-tight mb-1;
}

@utility prose-h3 {
    @apply scroll-m-20 text-2xl font-semibold tracking-tight mb-1;
}

@utility prose-h4 {
    @apply scroll-m-20 text-xl font-semibold tracking-tight;
}

@utility prose-p {
    @apply leading-7 [&:not(:first-child)]:mt-6;
}

@utility prose-blockquote {
    @apply mt-6 border-l-2 pl-6 italic;
}

@utility prose-table {
    @apply w-full;
}

@utility prose-tr {
    @apply m-0 border-t p-0 even:bg-muted;
}

@utility prose-th {
    @apply border px-4 py-2 text-left font-bold [&[align=center]]:text-center [&[align=right]]:text-right;
}

@utility prose-td {
    @apply border px-4 py-2 text-left [&[align=center]]:text-center [&[align=right]]:text-right;
}

@utility prose-ul {
    @apply my-6 ml-6 list-disc [&>li]:mt-2;
}

@utility prose-code {
    @apply relative rounded bg-muted px-[0.3rem] py-[0.2rem] font-mono text-sm font-semibold;
}

@utility prose-lead {
    @apply text-xl text-muted-foreground mb-2;
}

@utility prose-large {
    @apply text-lg font-semibold;
}

@utility prose-small {
    @apply text-sm font-normal text-muted-foreground;
}

@utility prose-muted {
    @apply text-sm text-muted-foreground;
}

@layer components {
    .command-list {
        min-height: 20px;
    }
}

/* add containers back from tailwindcss v3 */
@utility container {
    margin-inline: auto;
    padding-inline: 2rem;
}
